{{extend 'layout.html'}} {{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var memosURL = "{{=URL('api', 'get_memos', hash_vars=False)}}";
    var addMemoURL = "{{=URL('api', 'add_memo', user_signature=True)}}";
    var getUserURL = "{{=URL('api', 'get_user')}}";
    var togglePublicURL = "{{=URL('api', 'toggle_public', user_signature=True)}}"
    var deleteMemoURL = "{{=URL('api', 'delete_memo', user_signature=True)}}";
</script> {{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">

        <div v-if="isAddingMemo" id="addMemoDiv">
            <form action="#" v-on:submit.prevent class="form-horizontal" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <div>
                        <input class="form-control string" v-model="formTitle" placeholder="Title" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <textarea class="form-control string" v-model="formBody" placeholder="Body">
                        </textarea>
                    </div>
                </div>
            </form>
        </div>

        <div class="button_bar">
            <button v-if="!isAddingMemo" class="btn" v-on:click="addMemoButton()" :disabled="!loggedIn" v-bind:class="{'disabled': !loggedIn}">
                <i class="fa fa-plus"></i> Add Memo
            </button>
            <button v-if="isAddingMemo" class="btn red" v-on:click="addMemo()">
                <i class="fa fa-plus"></i> Add
            </button>
            <button v-if="isAddingMemo" class="btn" v-on:click="cancelAddMemo()">
                <i class="fa fa-times"></i> Cancel
            </button>
        </div>

        <div v-for="memo in memos" class="memo">
            <div class="memo_text">
                <div class="memo_title">${memo.title}</div>
                <div class="memo_content">${memo.body}</div>
            </div>
            <div class="button_list">
                <div v-if="memo.user_email == userEmail" class="buttons">
                    <a class="btn rounded" v-on:click="togglePublic(memo)">
                        <i v-if="memo.is_public" class="fa fa-users"></i>
                        <i v-else class="fa fa-user fa-lg"></i>
                    </a>
                    <a class="btn rounded">
                        <i class="fa fa-edit fa-lg"></i>
                    </a>
                    <a class="btn rounded red" v-on:click="deleteMemo(memo)">
                        <i class="fa fa-trash fa-lg"></i>
                    </a>
                </div>
                <div v-else class="buttons">
                    <a class="btn rounded" style="background-color: gray">
                        <i v-if="memo.is_public" class="fa fa-users fa-lg"></i>
                        <i v-else class="fa fa-user fa-lg"></i>
                    </a>
                    <a class="btn rounded" style="background-color: gray">
                        <i class="fa fa-edit fa-lg"></i>
                    </a>
                    <a class="btn rounded" style="background-color: gray">
                        <i class="fa fa-trash fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>

        <div v-if="!userEmail" class="login_button">
            <a href="{{=URL('default', 'user')}}" class="btn">Login</a>
        </div>

    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>