{{extend 'layout.html'}} {{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var gamesURL = "{{=URL('api', 'get_games', hash_vars=False)}}";
    var addGameURL = "{{=URL('api', 'add_game', user_signature=True)}}";
    var getUserURL = "{{=URL('api', 'get_user')}}";
    var togglePublicURL = "{{=URL('api', 'toggle_public', user_signature=True)}}"
    var deleteGameURL = "{{=URL('api', 'delete_game', user_signature=True)}}";
</script> {{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">

        <div v-if="isAddingGame" id="addGameDiv">
            <form action="#" v-on:submit.prevent class="form-horizontal" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <div>
                        <input class="form-control string" v-model="formTitle" placeholder="Title" type="text" />
                    </div>
                </div>
                <select v-model="formActivity">
                    <option value="activity">Activity</option>
                    <option value="basketball">Basketball</option>
                    <option value="basketball">Basketball</option>
                    <option value="basketball">Basketball</option>
                    <option value="basketball">Basketball</option>
                    <option value="basketball">Basketball</option>
                    <option value="basketball">Basketball</option>
                </select>
                <div class="form-group">
                    <div>
                        <textarea class="form-control string" v-model="formTime" placeholder="Time">
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <textarea class="form-control string" v-model="formLocation" placeholder="Location">
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <textarea class="form-control string" v-model="formDescription" placeholder="Description">
                        </textarea>
                    </div>
                </div>
            </form>
        </div>

        <div class="button_bar">
            <button v-if="!isAddingGame" class="btn" v-on:click="addGameButton()" :disabled="!loggedIn" v-bind:class="{'disabled': !loggedIn}">
                <i class="fa fa-plus"></i> Add Game
            </button>
            <button v-if="isAddingGame" class="btn red" v-on:click="addGame()">
                <i class="fa fa-plus"></i> Add
            </button>
            <button v-if="isAddingGame" class="btn" v-on:click="cancelAddGame()">
                <i class="fa fa-times"></i> Cancel
            </button>
        </div>

        <div v-for="game in games" class="game">
            <div class="game_text">
                <div class="game_title">${game.title}</div>
                <div class="game_content">${game.body}</div>
            </div>
            <div class="button_list">
                <div v-if="game.user_email == userEmail" class="buttons">
                    <a class="btn rounded" v-on:click="togglePublic(game)">
                        <i v-if="game.is_public" class="fa fa-users"></i>
                        <i v-else class="fa fa-user fa-lg"></i>
                    </a>
                    <a class="btn rounded">
                        <i class="fa fa-edit fa-lg"></i>
                    </a>
                    <a class="btn rounded red" v-on:click="deleteGame(game)">
                        <i class="fa fa-trash fa-lg"></i>
                    </a>
                </div>
                <div v-else class="buttons">
                    <a class="btn rounded" style="background-color: gray">
                        <i v-if="game.is_public" class="fa fa-users fa-lg"></i>
                        <i v-else class="fa fa-user fa-lg"></i>
                    </a>
                    <a class="btn rounded" style="background-color: gray">
                        <i class="fa fa-edit fa-lg"></i>
                    </a>
                    <a class="btn rounded" style="background-color: gray">
                        <i class="fa fa-trash fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>

        <div v-if="!userEmail" class="login_button">
            <a href="{{=URL('default', 'user')}}" class="btn">Login</a>
        </div>

    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>