a {
  color: blue;
}
a:not(.btn):not(.noeffect):hover {
  color: blue;
}
a:not(.btn):not(.noeffect):after {
  background-color: blue;
}
.btn,
button,
[type="button"],
[type="submit"] {
  background-color: rgb(223, 119, 33);
  color: white;
}
.progress .determinate {
  background-color: rgb(53, 128, 240);
}
.progress .indeterminate {
  background-color: rgb(53, 128, 240);
}
.tags > span {
  background-color: rgb(53, 128, 240);
}
.tags.dismissible > span.off:hover {
  background-color: rgb(53, 128, 240);
}

.banner-theme {
  background-color: rgb(53, 128, 240);
  color: white;
}

.banner-accent {
  background-color: #ededed;
  color: white;
}
