main.background {
  background: #fafafa;
}

/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 5, ../sass/_main.scss */
div.main_content {
  padding: 10px;
}

div.logo {
  margin-bottom: 30px;
}

/* line 9, ../sass/_main.scss */
div.add_btn {
  margin: 5px;
}
/* line 11, ../sass/_main.scss */
div.add_btn a {
  padding: 10px;
}

/* line 16, ../sass/_main.scss */
div.game {
  margin: 10px;
  border: 1px solid #efefef;
  border-radius: 4px;
  border-bottom: 1px solid #e2e2e2;
  padding: 15px 25px;
  background: white;
}
/* line 21, ../sass/_main.scss */
div.game div.game_title {
  font-weight: bold;
  font-size: 150%;
}
/* line 25, ../sass/_main.scss */
div.game div.button_list {
  text-align: right;
}
/* line 27, ../sass/_main.scss */
div.game div.button_list div.buttons {
  display: inline-block;
}
/* line 31, ../sass/_main.scss */
div.game div.button_list a.btn div.game-join {
  padding: 10px;
}

div.button_bar {
  margin-left: 10px;
}

div.games-list {
  margin-right: 80px;
}

div.game hr {
  border: 1px gray solid;
  margin-bottom: 5px;
}

div.game-flex-container {
  display: flex;
  justify-content: space-between;
}

div.game-flex-container-bottom {
  align-items: center;
}

div.game-left-item {
  text-align: left;
}

div.game-right-item {
  text-align: right;
}

div.disabled {
  background-color: grey;
}

form.selector {
  margin-bottom: 2px;
}

h5 {
  font-size: 1.6em;
  margin: 0.1em 0 0.25em 0;
}

h6 {
  font-size: 1.2em;
  margin: 0.1em 0 0.25em 0;
}

#filter-div {
  padding-left: 80px;
}

div.filter-item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

div.filter-item label {
  font-weight: normal;
  margin-left: 10px;
}

button.filter-buttons {
  margin-top: 12px;
}
